.message {
  display: flex;
  column-gap: 1em;
  padding: 0.25em 3em 0.25em 1em;
  margin-top: 1.25em;
  color: #dcdee1;
}

.content {
  flex-grow: 1;
}

.title {
  color: #7076f1;
  font-weight: 500;
}

.datetime {
  margin-left: 0.5em;
  color: #959ba3;
}
