.header {
  display: flex;
  color: #f2f3f5;
  box-shadow: rgb(0 0 0 / 35%) 0 2px 4px 0;
  position: relative;
  z-index: 1;
}

.sidebar {
  max-width: 240px;
  flex-grow: 1;
  padding: 0.75em 1em;
  background-color: #2b2d31;
}

.chat {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.75em 1em;
  background-color: #313338;
}

.heading {
  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

.title {
  font-weight: 500;
}

.hashtag {
  color: #80848e;
}

.icon {
  color: #b5bac1;
}
